PRIVATE_KEY=
ETHERSCAN_API_KEY=

# Optimism-goerli
OPTIMISM_GOERLI_RPC_URL=
OPTIMISM_ETHERSCAN_API_KEY=
OPTIMISM_GOERLI_OUTPUT_ORACLE=0xE6Dfba0953616Bacab0c9A8ecb3a9BBa77FC15c0
OPTIMISM_GOERLI_CHAIN_ID=420
OPTIMISM_GOERLI_LIGHT_CLIENT_ADDRESS=
OPTIMISM_GOERLI_OUTBOX_ADDRESS=
OPTIMISM_GOERLI_CRC_INBOX=
OPTIMISM_GOERLI_RECEIVER_DEMO=

# Base-goerli
BASE_GOERLI_RPC_URL=https://goerli.base.org
BASE_ETHERSCAN_API_KEY=
BASE_GOERLI_OUTPUT_ORACLE=0x2A35891ff30313CcFa6CE88dcf3858bb075A2298
BASE_GOERLI_CHAIN_ID=84531
BASE_GOERLI_LIGHT_CLIENT_ADDRESS=
BASE_GOERLI_OUTBOX_ADDRESS=
BASE_GOERLI_CRC_INBOX=
BASE_GOERLI_RECEIVER_DEMO=